html,
body {
    background-color: #0e1111;
    color: #fbfaf5;
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    padding-left: 0.5em;
}

.nonbinary-symbol {
    display: inline-flex;
    height: 1.2em;
    background-color: #fbfaf5;
    border-radius: 0.2em;
    position: relative;
    top: 0.2em;
    margin-left: 0.2em;
}

li {
    padding-bottom: 1em;
    list-style: none;
    font-size: 20px;
}

.text-nav {
    display: inline;
}

li > i {
    font-size: 1.2em;
    width: 1.2em;
}

li > i:first-of-type {
    padding-right: 1em;
    font-size: 1.5em;
    width: 1.2em;
}

nav > ul > li > i {
    font-size: 1.2em;
    float: left;
}

li > a > i {
    position: relative;
    display: block;
    color: #fbfaf5;
    font-size: 1em;
}

h2 > i {
    padding-left: 0.75em;
    margin-right: 0.5em;
}

.social-menu,
.skills-menu {
    display: flex;
}

.social-links,
.skills-icons {
    display: flex;
}

.social-links > li > a > i,
.skills-icons > li > a > i {
    margin-right: 0.5em;
    list-style: none;
    font-size: 2em;
    text-align: center;
    transition: all ease 0.75s;
    padding: 0.2em;
}

.social-links > li > a > i:hover,
.skills-icons > li > a > i:hover {
    color: #0e1111;
    background-color: #fbfaf5;
    border-radius: 0.2em;
    transform: scale(1.3) translate(0, -15%);
}

footer {
    font-size: 0.6em;
    font-style: monospace;
    text-align: end;
    color: #fbfaf5;
}

.skills-icons > li > a > .fa-html5:hover {
    background-color: #f06529;
}
.skills-icons > li > a > .fa-css3-alt:hover {
    background-color: #2965f1;
}
.skills-icons > li > a > .fa-square-js:hover {
    background-color: #f7df1e;
}
.skills-icons > li > a > .fa-square-git:hover {
    background-color: #f1502f;
}

.social-links > li > a > .fa-github:hover {
    background-color: #4078c0;
}
.social-links > li > a > .fa-twitter:hover {
    background-color: #00acee;
}
.social-links > li > a > .fa-codepen:hover {
    background-color: #ffffff;
}
.social-links > li > a > .fa-telegram:hover {
    background-color: #0088cc;
}
.social-links > li > a > .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.social-links > li > a > .fa-discord:hover {
    background-color: #5865f2;
}
.social-links > li > a > .fa-spotify:hover {
    background-color: #1db954;
}
